:root {
	--text-high: #ffffff;
	--text-medium: #d9d9d9;
	--text-low: #a6a6a6;

	--outline-high: #a6a6a6;
	--outline-medium: #6c6c6c;
	--outline-low: #3f3f3f;

	--background-high: #1f1f1f;
	--background-medium: #2f2f2f;
	--background-low: #3f3f3f;
}

body {
	background-color: var(--background-high);
	color: var(--text-medium);

	padding: 0;
	margin: 0;

	user-select: none;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	color: var(--text-high);
	font-size: 48px;
	font-weight: 600;
}

h2 {
	color: var(--text-high);
	font-size: 32px;
	font-weight: 600;
}

h3 {
	color: var(--text-high);
	font-size: 24px;
	font-weight: 600;
}

h4 {
	color: var(--text-high);
	font-size: 20px;
	font-weight: 600;
}

header {
	width: 100%;
	height: 41px;

	background-color: var(--background-medium);

	position: fixed;
	top: 0;
	left: 0;
}

nav.navbar {
	background-color: var(--background-medium);

	width: calc(100% - 32px);
	height: 24px;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 100;

	border-bottom: 1px solid var(--outline-low);
}

nav a {
	text-decoration: none;
	color: var(--text-medium);
}

nav .home {
	color: var(--text-high);
	font-size: 24px;
	font-weight: 600;
}

nav .links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

div.feed {
	width: min-content;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	align-items: flex-start;
	gap: 32px;
}

div.ad-skyscraper {
	width: 120px;
	height: 600px;
	background-color: var(--background-medium);
	margin-top: 64px;
}

div.ad-medium-rect {
	width: 300px;
	height: 250px;
	background-color: var(--background-medium);
	margin-top: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main.feed {
	width: calc(800px - 32px);
	padding: 16px;

	border-left: 1px solid var(--outline-low);
	border-right: 1px solid var(--outline-low);
}

main .reader-details {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 16px;
}

main hr {
	border: 1px solid var(--outline-low);
	margin-top: 16px;
	margin-bottom: 16px;
}

main .greeting {
	color: var(--text-high);
	font-size: 32px;
	font-weight: 400;
}

main .info {
	color: var(--text-medium);
	font-size: 16px;
	font-weight: 400;
}

main .info .title {
	color: var(--text-high);
	font-size: 24px;
	font-weight: 600;
}

main .carousel {
	display: flex;
	justify-content: baseline;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scrollbar-width: 2px;
	scrollbar-color: var(--outline-medium) var(--background-medium);

	margin-top: 16px;
}

/* display: none span.no-books when there are books under carousel */
main .carousel span.no-books {
	display: block;
	color: var(--text-medium);
	font-size: 16px;
	font-weight: 400;
}

main .book {
	width: 200px;
	min-width: 200px;
	height: 300px;

	background-color: var(--background-medium);
	border-radius: 0;
	border: 1px solid var(--outline-low);

	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 8px;

	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;

	overflow: hidden;

	transition: 0.1s all;

	box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

main .carousel .book:last-child {
	margin-right: 0;
}

main .carousel .book:hover {
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
	transform: scale(0.98);
}

main .carousel .book:hover img {
	transform: scale(1.1);
	filter: brightness(0.5);
}

main .carousel .book img {
	width: 100%;
	height: 100%;

	transition: 0.2s all;

	border-radius: 0;
}
